<div class="clinic-info-container">

    <!-- Left: Information Table -->
    <div class="clinic-info-table-wrapper">
        <table class="clinic-info-table">

            <!-- 오시는길 -->
            <tr>
                <td class="info-title">오시는길</td>
                <td class="info-content">
                    <a href="https://map.kakao.com/link/to/제일한의원,37.5927,127.0165" target="_blank" class="info-link">
                        <p>서울시 성북구 아리랑로 28, 2층</p>
                        <p class="sub-text">
                            ※ 성신여대입구역 6번 출구 도보 3분<br>
                            &nbsp;&nbsp;&nbsp;(에스컬레이터 이용은 1, 4번 출구)
                        </p>
                    </a>
                </td>
            </tr>

            <!-- 주차안내 -->
            <tr>
                <td class="info-title">주차안내</td>
                <td class="info-content">
                    주차 공간 협소. 대중교통 이용 권장
                </td>
            </tr>

            <!-- 진료시간 -->
            <tr>
                <td class="info-title">진료시간</td>
                <td class="info-content">
                    <table class="schedule-table">
                        <tr>
                            <td class="day-cell">평일</td>
                            <td class="time-cell">
                                09:00 - 18:00<br>
                                <span class="time-note">(화요일 20:00까지)</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="day-cell">토요일</td>
                            <td class="time-cell">09:00 - 14:00</td>
                        </tr>
                        <tr>
                            <td class="day-cell">점심시간</td>
                            <td class="time-cell">
                                평일 13:00 - 14:00<br>
                                <span class="time-note">(토요일 제외)</span>
                            </td>
                        </tr>
                    </table>
                    <p class="schedule-note">※ 일요일 · 공휴일 휴진</p>
                </td>
            </tr>

            <!-- 문의전화 -->
            <tr class="valign-middle">
                <td class="info-title">문의전화</td>
                <td class="info-content">
                    <a href="tel:02-926-3805" class="phone-link">
                        <p>02-926-3805</p>
                    </a>
                </td>
            </tr>

        </table>
    </div>

    <!-- Right: Map -->
    <div class="clinic-info-map-wrapper">
        <div class="map-container">
            <div id="daumRoughmapContainer1769414770029" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <script charset="UTF-8" class="daum_roughmap_loader_script"
                src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
            <script charset="UTF-8">
                new daum.roughmap.Lander({
                    "timestamp": "1769414770029",
                    "key": "25u5uwhat538",
                    "mapWidth": "100%",
                    "mapHeight": "420"
                }).render();
            </script>
        </div>
    </div>

</div>
